{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": ["airbnb-base", "prettier"],
  "plugins": [
    "chai-friendly"
  ],
  "rules": {
    "max-depth": ["error", 3],
    "import/no-mutable-exports": 0,
    "import/extensions": 0,
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": ["./**/*.test*.js"]
    }],
    "no-case-declarations": 0,
    "no-console": 0,
    "no-plusplus": 0,
    "no-restricted-syntax": 0,
    "no-await-in-loop": 0,
    "no-mutable-exports": 0,
    "no-underscore-dangle": 0,
    "no-unused-expressions": 0,
    "prefer-destructuring": ["error", {
      "array": false,
      "object": true
    }, {
      "enforceForRenamedProperties": false
    }],
    "chai-friendly/no-unused-expressions": 2,
    "no-use-before-define": ["error", { "functions": false }],
    "max-len": [2, {
        "code": 120,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreComments": true
    }],
    "class-methods-use-this": "off"
  },
  "globals": {
    "expect": true
  }
}